{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
	Nirvana
{% endblock %}

{% block body %}
	<H1><em>Nirvana</em></H1>
	<hr>

			<div class="t">
				<p>

				<img src="{% static 'css/1390595763_264eb8af0c.jpg.pagespeed.ce.a3ALBtwpTF.jpg' %}" width="200" height="200" align="right">
				<em><b><a href="https://ru.wikipedia.org/wiki/Nirvana">Nirvana</a></b></em> — американская рок-группа, созданная вокалистом и гитаристом Куртом Кобейном и басистом Кристом Новоселичем в Абердине, штат Вашингтон, в 1987 году. В составе коллектива сменились несколько барабанщиков; дольше всех с группой играл ударник Дэйв Грол, присоединившийся к Кобейну и Новоселичу в 1990 году.
				</p>

				<p>
					В 1989 году Nirvana стала частью сиэтлской музыкальной сцены, выпустив на инди-лейбле Sub Pop дебютный альбом Bleach. После подписания контракта с крупным лейблом DGC Records (англ.)русск. Nirvana приобрела неожиданный успех с песней «Smells Like Teen Spirit» из своего второго альбома Nevermind, выпущенного в 1991 году. Впоследствии Nirvana вошла в музыкальный мейнстрим, популяризовав поджанр альтернативного рока, названный гранжем. Курт Кобейн оказался в глазах СМИ не просто музыкантом, а «голосом поколения», а Nirvana стала флагманом «поколения Х». В 1993 году вышел третий и последний студийный альбом группы, In Utero, композиции которого в музыкальном плане сильно отличались от предыдущих работ коллектива.
				</p>

				<p>
				Недолгая, но яркая история группы прервалась в связи со смертью Курта Кобейна 5 апреля 1994 года, но в последующие годы известность команды лишь росла. В 2002 году незавершённая демозапись песни «You Know You’re Right», над которой группа работала незадолго до смерти Кобейна, заняла первые строчки мировых хит-парадов. Со времени выхода дебютного альбома записи Nirvana были проданы в количестве 75 миллионов экземпляров по всему миру, и в 25 миллионов копий в США.
				</p>

			</div>

	<hr>
	<H4><a href="https://www.youtube.com/watch?v=hTWKbfoikeg&list=PLZGh95p3Upww7fATMWNmwDX2F117rykvW" class="name">Smells Like Teen Spirit</a></H4>

		<div class="p11">
			<p>
<H5>Оригинал</H5>
<pre>
Load up on guns and bring your friends
It's fun to lose and to pretend
She's over bored and self assured
Oh no, I know a dirty word
<hr>
Hello, hello, hello, how low?
Hello, hello, hello, how low?
Hello, hello, hello, how low?
Hello, hello, hello!
<hr>
With the lights out, it's less dangerous
Here we are now, entertain us
I feel stupid and contagious
Here we are now, entertain us
<hr>
A mulatto
An albino
A mosquito
My libido
<hr>
I'm worse at what I do best
And for this gift I feel blessed
Our little group has always been
And always will until the end
<hr>
Hello, hello, hello, how low?
Hello, hello, hello, how low?
Hello, hello, hello, how low?
Hello, hello, hello!
<hr>
With the lights out, it's less dangerous
Here we are now, entertain us
I feel stupid and contagious
Here we are now, entertain us
<hr>
A mulatto
An albino
A mosquito
My libido
<hr>
And I forget just why I taste
Oh yeah, I guess it makes me smile
I found it hard, it's hard to find
Oh well, whatever, never mind
<hr>
Hello, hello, hello, how low?
Hello, hello, hello, how low?
Hello, hello, hello, how low?
Hello, hello, hello!
<hr>
With the lights out, it's less dangerous
Here we are now, entertain us
I feel stupid and contagious
Here we are now, entertain us
<hr>
A mulatto
An albino
A mosquito
My libido
<hr>
A denial! [9x]
<hr>
</pre>
</p>
		</div>

		<div class="per11">
<p>
<H5>Перевод</H5>
<pre>
Патроны - в ствол, друзей - за стол.
Быть неудачником - прикол.
Она молчит как партизан,
А я придумал, что сказать.
<hr>
Хэй, лохи, 3 лохи, лохи, ло-
хелло, хелло, хелло, хелло!
Хэй, лохи, лохи, лохи, ло-
хелло, хелло, хелло, хелло!
<hr>
В темноте всё безопасно.
Мы явились. Развлекай нас.
Я убогий и заразный,
Мы явились. Развлекай нас.
<hr>
Полукровок,
Альбиносов,
Насекомых,
Нашу похоть.
<hr>
Я самый лучший в мире лох,
И в этом деле я не плох.
И мы вас будем развлекать
Не хуже, чем любая бл*дь.
<hr>
Хэй, лохи, лохи, лохи, ло-
хелло, хелло, хелло, хелло!
Хэй, лохи, лохи, лохи, ло-
хелло, хелло, хелло, хелло!
<hr>
В темноте всё безопасно.
Мы явились. Развлекай нас.
Я убогий и заразный,
Мы явились. Развлекай нас.
<hr>
Переростков,
Недоносков,
Насекомых,
Нашу похоть.
<hr>
Зачем мы курим эту дурь?
Ведь от неё кошмар во рту.
К тому же - сложно доставать...
Зато смешно, и наплевать!
<hr>
Хэй, лохи, лохи, лохи, ло-
хелло, хелло, хелло, хелло!
Хэй, лохи, лохи, лохи, ло-
хелло, хелло, хелло, хелло!
<hr>
В темноте всё безопасно.
Мы явились. Развлекай нас.
Я убогий и заразный,
Мы явились. Развлекай нас.
<hr>
Полукровок,
Альбиносов,
Насекомых,
Нашу похоть.
<hr>
Не желаю! [9x]
<hr>
</pre>

</p>
** поэтический (эквиритмический) перевод.<br>
3 - Использованное в оригинале выражение "How low?" в данной переводческой интерпретации является выражением презрения к адресату, цензурным оскорблением, чем и объясняется использование сленгового существительного "лохи", к тому же максимально близкого фонетического аналога.
		</div>

	<a href="/" class="back"><img src="{% static 'fonts/1f519-strelka-nazad.png' %}" width="100" height="100"></a>
{% endblock %}