{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
	Nirvana
{% endblock %}

{% block body %}
	<H1><em>Nirvana</em></H1>
	<hr>
		
		<div class="t">
				<p>

				<img src="{% static 'css/1390595763_264eb8af0c.jpg.pagespeed.ce.a3ALBtwpTF.jpg' %}" height="200" align="right">
				<em><b><a href="https://ru.wikipedia.org/wiki/Nirvana">Nirvana</a></b></em> — американская рок-группа, созданная вокалистом и гитаристом Куртом Кобейном и басистом Кристом Новоселичем в Абердине, штат Вашингтон, в 1987 году. В составе коллектива сменились несколько барабанщиков; дольше всех с группой играл ударник Дэйв Грол, присоединившийся к Кобейну и Новоселичу в 1990 году.
				</p>

				<p>
					В 1989 году Nirvana стала частью сиэтлской музыкальной сцены, выпустив на инди-лейбле Sub Pop дебютный альбом Bleach. После подписания контракта с крупным лейблом DGC Records (англ.)русск. Nirvana приобрела неожиданный успех с песней «Smells Like Teen Spirit» из своего второго альбома Nevermind, выпущенного в 1991 году. Впоследствии Nirvana вошла в музыкальный мейнстрим, популяризовав поджанр альтернативного рока, названный гранжем. Курт Кобейн оказался в глазах СМИ не просто музыкантом, а «голосом поколения», а Nirvana стала флагманом «поколения Х». В 1993 году вышел третий и последний студийный альбом группы, In Utero, композиции которого в музыкальном плане сильно отличались от предыдущих работ коллектива.
				</p>

				<p>
				Недолгая, но яркая история группы прервалась в связи со смертью Курта Кобейна 5 апреля 1994 года, но в последующие годы известность команды лишь росла. В 2002 году незавершённая демозапись песни «You Know You’re Right», над которой группа работала незадолго до смерти Кобейна, заняла первые строчки мировых хит-парадов. Со времени выхода дебютного альбома записи Nirvana были проданы в количестве 75 миллионов экземпляров по всему миру, и в 25 миллионов копий в США.
				</p>

		</div>

	<hr>

	<H4><a href="https://www.youtube.com/watch?v=n6P0SitRwy8&list=PLZGh95p3Upww7fATMWNmwDX2F117rykvW&index=4" class="name">Heart-Shapped Box</a></H4>

		<div class="p12">
<p>
<H5>Оригинал</H5>
<pre>
She eyes me like a pisces when I am weak
I've been locked inside your Heart Shaped box for a week
I was drawn into your magnet tar pit trap
I wish I could eat your cancer when you turn black
<hr>
Hey
Wait
I've got a new complaint
Forever in debt to your priceless advice
<hr>
Hey
Wait
I've got a new complaint
Forever in debt to your priceless advice
<hr>
Hey
Wait
I've got a new complaint
Forever in debt to your priceless advice
Your advice
<hr>
Meat-eating orchids forgive no one just yet
Cut myself angel's hair and baby's breath
Broken hymen of your highness I'm left black
Throw down your umbilical noose so I can climb right back
<hr>
Hey
Wait
I've got a new complaint
Forever in debt to your priceless advice
<hr>
Hey
Wait
I've got a new complaint
Forever in debt to your priceless advice
<hr>
Hey
Wait
I've got a new complaint
Forever in debt to your priceless advice
Your advice
<hr>
She eyes me like a pisces when I am weak
I've been locked inside your Heart Shaped box for a week
I was drawn into your magnet tar pit trap
I wish I could eat your cancer when you turn black
<hr>
Hey
Wait
I've got a new complaint
Forever in debt to your priceless advice
<hr>
Hey
Wait
I've got a new complaint
Forever in debt to your priceless advice
<hr>
Hey
Wait
I've got a new complaint
Forever in debt to your priceless advice
Your advice, your advice, your advice
<hr>
</pre>
</p>
		</div>

		<div class="per12">
<p>			
<H5>Перевод</H5>
<pre>
Когда я слаб, она смотрит на меня холодным взглядом.
Я заперт в твоей коробочке в форме сердца уже неделю.
Меня притянуло в твою смоляную ловушку, как на магнит.
Я бы хотел выгрызть твою опухоль, когда ты вся почернеешь.
<hr>
Эй,
Подожди!
У меня ещё одна жалоба –
Я в вечном долгу перед тобой за твой бесценный совет.
<hr>
Эй,
Подожди!
У меня ещё одна жалоба –
Я в вечном долгу перед тобой за твой бесценный совет.
<hr>
Эй,
Подожди!
У меня ещё одна жалоба –
Я в вечном долгу перед тобой за твой бесценный совет.
Твой совет.
<hr>
Плотоядные орхидеи ещё никого не прощали.
Я отрежу прядь волос ангела и перекрою дыхание младенцу.
Плева Вашего высочества разорвана. Я в безнадёжном состоянии,
Протяни мне нить пуповины, чтобы я смог забраться обратно.
<hr>
Эй,
Подожди!
У меня ещё одна жалоба –
Я в вечном долгу перед тобой за твой бесценный совет.
<hr>
Эй,
Подожди!
У меня ещё одна жалоба –
Я в вечном долгу перед тобой за твой бесценный совет.
<hr>
Эй,
Подожди!
У меня ещё одна жалоба –
Я в вечном долгу перед тобой за твой бесценный совет.
Твой совет.
<hr>
Когда я слаб, она смотрит на меня холодным взглядом.
Я заперт в твоей коробочке в форме сердца уже неделю.
Меня притянуло в твою смоляную ловушку, как на магнит.
Я бы хотел выгрызть твою опухоль, когда ты вся почернеешь.
<hr>
Эй,
Подожди!
У меня ещё одна жалоба –
Я в вечном долгу перед тобой за твой бесценный совет.
<hr>
Эй,
Подожди!
У меня ещё одна жалоба –
Я в вечном долгу перед тобой за твой бесценный совет.
<hr>
Эй,
Подожди!
У меня ещё одна жалоба –
Я в вечном долгу перед тобой за твой бесценный совет.
Твой совет, твой совет, твой совет...
<hr>
</pre>
</p>
		</div>

	<a href="/" class="back"><img src="{% static 'fonts/1f519-strelka-nazad.png' %}" width="100" height="100"></a>
{% endblock %}
