{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
	Nirvana
{% endblock %}

{% block body %}
<H1><em>Nirvana</em></H1>
<hr>
	<div class="t">
				<p>

				<img src="{% static 'css/1390595763_264eb8af0c.jpg.pagespeed.ce.a3ALBtwpTF.jpg' %}" width="200" height="200" align="right">
				<em><b><a href="https://ru.wikipedia.org/wiki/Nirvana">Nirvana</a></b></em> — американская рок-группа, созданная вокалистом и гитаристом Куртом Кобейном и басистом Кристом Новоселичем в Абердине, штат Вашингтон, в 1987 году. В составе коллектива сменились несколько барабанщиков; дольше всех с группой играл ударник Дэйв Грол, присоединившийся к Кобейну и Новоселичу в 1990 году.
				</p>

				<p>
					В 1989 году Nirvana стала частью сиэтлской музыкальной сцены, выпустив на инди-лейбле Sub Pop дебютный альбом Bleach. После подписания контракта с крупным лейблом DGC Records (англ.)русск. Nirvana приобрела неожиданный успех с песней «Smells Like Teen Spirit» из своего второго альбома Nevermind, выпущенного в 1991 году. Впоследствии Nirvana вошла в музыкальный мейнстрим, популяризовав поджанр альтернативного рока, названный гранжем. Курт Кобейн оказался в глазах СМИ не просто музыкантом, а «голосом поколения», а Nirvana стала флагманом «поколения Х». В 1993 году вышел третий и последний студийный альбом группы, In Utero, композиции которого в музыкальном плане сильно отличались от предыдущих работ коллектива.
				</p>

				<p>
				Недолгая, но яркая история группы прервалась в связи со смертью Курта Кобейна 5 апреля 1994 года, но в последующие годы известность команды лишь росла. В 2002 году незавершённая демозапись песни «You Know You’re Right», над которой группа работала незадолго до смерти Кобейна, заняла первые строчки мировых хит-парадов. Со времени выхода дебютного альбома записи Nirvana были проданы в количестве 75 миллионов экземпляров по всему миру, и в 25 миллионов копий в США.
				</p>

		</div>
	<hr>
	<H4><a href="https://www.youtube.com/watch?v=fregObNcHC8" class="name">The Man Who Sold the World</a></H4>

		<div class="p13">
<p>
<H5>Оригинал</H5>
<pre>
We passed upon the stair
We spoke of was and when
Although I wasn't there
He said I was his friend
<hr>
Which came as a surprise
I spoke into his eyes
I thought you died alone
A long long time ago
<hr>
Oh no, not me
I never lost control
You're face to face
With the man who sold the world
<hr>
I laughed and shook his hand
And made my way back home
I searched for form and land
For years and years I roamed
<hr>
I gazed a gazeless stare
At all the millions here
I must have died alone
A long, long time ago
<hr>
[2x:]
Who knows?
Not me
We never lost control
You're face to face
With the man who sold the world
<hr>
</pre>
</p>

		</div>

		<div class="per13">
<p>
<H5>Перевод</H5>
<pre>
Мы шли по лестнице,
Разговаривая о разных событиях,
Хотя меня там и не было...
Он сказал, что я был его другом,
<hr>
Что удивило меня.
Я ответил ему прямо в глаза,
Что думал, что он умер в одиночестве
Уже очень давно...
<hr>
О нет, не я!
Я никогда не терял самообладание.
Ты - лицом к лицу
С человеком, продавшим мир...
<hr>
Смеясь, я пожал его руку
И пошёл домой.
Я хотел найти себя,
В течение многих лет я бродил
<hr>
И смотрел невидящим взором
На все эти миллионы...
Должно быть, я умер в одиночестве
Уже очень давно...
<hr>
[2x:]
Кто знает?
Не я.
Мы никогда не теряли самообладание.
Ты - лицом к лицу
С человеком, продавшим мир...
<hr>
</pre>
</p>

		</div>

	<a href="/" class="back"><img src="{% static 'fonts/1f519-strelka-nazad.png' %}" width="100" height="100"></a>
{% endblock %}