{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
	Green Day
{% endblock %}

{% block body %}
	<H1><em>Green Day</em></H1>
	<hr>
		<div class="t">
			<img src="{% static 'css/green-day.jpg/' %}" width="210" height="210" align="right">
			<em><b><a href="https://ru.wikipedia.org/wiki/Green_Day">Green Day</a></b></em>  — американская панк-рок-группа, основанная в 1986 году. Состоит из трёх участников: Билли Джо Армстронга (вокал, гитара), Майка Дёрнта (бас гитара, бэк-вокал) и Тре Кула (ударные).
			<p>Green Day первоначально были частью панк-рок среды, сформировавшейся вокруг панк-клуба 924 Gilman Street (Беркли). Их первые альбомы, записанные на независимой компании Lookout!Records, позволили группе заработать множество фанатов. В результате группа вместе с другими калифорнийскими панками (The Offspring, Rancid) подняла волну огромного интереса к панк-музыке не только в США, но и во всём мире. Green Day стали вдохновителями таких известных групп, как Good Charlotte, Fall Out Boy, Simple Plan, My Chemical Romance, All Time Low.
			</p>
			<p>В 2011 году трио было признано лучшей панк-группой в истории музыки по результатам опроса, проведённого журналом Rolling Stone. В 2015 году Green Day были включены в «Зал славы рок-н-ролла». Группа стала одной из самых популярных и успешных панк-рок-групп. На момент 2012 года было продано более 85-ти миллионов копий записей Green Day, из которых 30 в США.
			</p>
		</div>
	<hr>

	<H4><a href="https://www.youtube.com/watch?v=V9NFs7qPwuk" class="name">American Idiot</a></H4>

		<div class="p13">
<p>
<H5>Оригинал</H5>
<pre>
We passed upon the stair
We spoke of was and when
Although I wasn't there
He said I was his friend
<hr>
Which came as a surprise
I spoke into his eyes
I thought you died alone
A long long time ago
<hr>
Oh no, not me
I never lost control
You're face to face
With the man who sold the world
<hr>
I laughed and shook his hand
And made my way back home
I searched for form and land
For years and years I roamed
<hr>
I gazed a gazeless stare
At all the millions here
I must have died alone
A long, long time ago
<hr>
[2x:]
Who knows?
Not me
We never lost control
You're face to face
With the man who sold the world
<hr>
</pre>
</p>
		</div>

		<div class="per13">
<p>
<H5>Перевод</H5>
<pre>
Мы шли по лестнице,
Разговаривая о разных событиях,
Хотя меня там и не было...
Он сказал, что я был его другом,
<hr>
Что удивило меня.
Я ответил ему прямо в глаза,
Что думал, что он умер в одиночестве
Уже очень давно...
<hr>
О нет, не я!
Я никогда не терял самообладание.
Ты - лицом к лицу
С человеком, продавшим мир...
<hr>
Смеясь, я пожал его руку
И пошёл домой.
Я хотел найти себя,
В течение многих лет я бродил
<hr>
И смотрел невидящим взором
На все эти миллионы...
Должно быть, я умер в одиночестве
Уже очень давно...
<hr>
[2x:]
Кто знает?
Не я.
Мы никогда не теряли самообладание.
Ты - лицом к лицу
С человеком, продавшим мир...
<hr>
</pre>
</p>
		</div>

	<a href="/" class="back"><img src="{% static 'fonts/1f519-strelka-nazad.png' %}" width="100" height="100"></a>
{% endblock %}