{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
	Linkin Park
{% endblock %}

{% block body %}
	<H1>Linkin Park</H1>
	<hr>
		<div class="t">
			<p>
			<img src="{% static 'css/800px-Linkin-park-logo.jpg' %}" width="100" height="100" align="right">
			<em><b><a href="https://ru.wikipedia.org/wiki/Linkin_Park">Linkin Park</a></b></em> — американская мультиплатиновая рок-группа, основанная в 1996 году под названием Xero и исполняющая музыку преимущественно в стилях альтернативный метал, ню-метал и рэп-метал (раннее творчество), альтернативный рок, электроник-рок, поп и поп-рок (позднее творчество). Существуя с 2000 года под названием Linkin Park, группа была шесть раз номинирована и два раза удостоилась награды «Грэмми». Группа обрела успех благодаря дебютному альбому 2000 года под названием Hybrid Theory, проданному тиражом более чем в 30 миллионов экземпляров (в 2010 году он обрёл «бриллиантовый» статус, присуждаемый RIAA). Следующий студийный альбом, Meteora, повторил, хоть и не превзошёл успех предыдущего, лидируя в 2003 году в чарте Billboard 200. В общей сложности группа выпустила семь студийных альбомов, которые разошлись общим тиражом около 100 миллионов экземпляров.
			</p>
		</div>
	<hr>

	<H4><a href="https://www.youtube.com/watch?v=8sgycukafqQ&index=6&list=RDEMww6ZEHgLhQ-8eu_x7Z-FJw" class="name">What I've Done</a></H4>

		<div class="p11">
<p>
<H5>Оригинал</H5>
<pre>
In this farewell
There is no blood
There is no alibi
'Cause I've drawn regret
<hr>
From the truth
Of a thousand lies
So let mercy come
And wash away
<hr>
What I've done
I'll face myself
To cross out
What I've become
<hr>
Erase myself
And let go of
What I've done
Put to rest
<hr>
What you thought of me
While I clean this slate
With the hands
Of uncertainty
<hr>
So let mercy come
And wash away
What I've done
I'll face myself
<hr>
To cross out
What I've become
Erase myself
And let go of
<hr>
What I've done
For what I've done
I'll start again
And whatever thing
<hr>
May come
Today this ends
I'm forgiving
What I've done
<hr>
I'll face myself
To cross out
What I've become
Erase myself
<hr>
And let go of
What I've done
What I've done
Forgiving what I've done
<hr>
</pre>
</p>

		</div>

		<div class="per11">
<p>
<H5>Перевод</H5>
<pre>
В этом прощании
Нет крови,
Нет оправдания,
Потому что я выманил сожаление
<hr>
Из правды
Тысячи неправд.
Так что просто дай прийти сожалению
И забудь всё то,
<hr>
Что я сделал.
Я буду смотреть в лицо самому себе,
Чтобы уничтожить то,
Чем я стал,
<hr>
Чтобы стереть себя из памяти
И выкинуть из головы то,
Что я сделал.
Отдохни от того,
<hr>
Что ты воображала обо мне,
Пока я очищаю эту критику
Руками
Неуверенности.
<hr>
Так что просто дай прийти сожалению
И забудь всё то,
Что я сделал.
Я буду смотреть в лицо самому себе,
<hr>
Чтобы уничтожить то,
Чем я стал,
Чтобы стереть себя из памяти
И выкинуть из головы то,
<hr>
Что я сделал.
Для этого я
Начну жизнь заново.
И любая вещь,
<hr>
Которая может прийти,
Сегодня исчезает.
Я прощаю себе то,
Что я сделал.
<hr>
Я буду смотреть в лицо самому себе,
Чтобы уничтожить то,
Чем я стал,
Чтобы стереть себя из памяти
<hr>
И выкинуть из головы то,
Что я сделал.
То, что сделал.
Прощаю то, что я сделал.
<hr>
</pre>
</p>
		</div>

	<a href="/" class="back"><img src="{% static 'fonts/1f519-strelka-nazad.png' %}" width="100" height="100"></a>
{% endblock %}