{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
	AC/DC
{% endblock %}

{% block body %}
	<H1>AC/DC</H1>
	<hr>

		<div class="t">
			<p>
			<img src="{% static 'css/71O66adA12L._SX355_.jpg' %}" width="200" height="200" align="right">

			<em><b><a href="https://ru.wikipedia.org/wiki/AC/DC">AC/DC</a></b></em> ([эй-си ди-си]; сокр. от англ. alternating current/direct current «переменный ток/постоянный ток») — австралийская рок-группа, сформированная в Сиднее в ноябре 1973 года выходцами из Шотландии, братьями Малькольмом и Ангусом Янгами.
			</p>

			<p>Вместе с такими группами как Led Zeppelin, Deep Purple, Queen, Iron Maiden, Scorpions, Black Sabbath, Uriah Heep, Judas Priest и Motörhead AC/DC часто рассматриваются как пионеры хард-рока и хеви-метала.Сами же музыканты классифицировали свою музыку как рок-н-ролл, поскольку в её основе лежит ритм-н-блюз с сильно искажённым звучанием ритмической и соло-гитар.
			</p>
		
			<p>Коллектив прошёл через несколько изменений составов, прежде чем в 1975 году был издан первый альбом группы, High Voltage. Состав группы оставался неизменным, пока бас-гитарист Марк Эванс[en] (англ. Mark Evans) не был замещён Клиффом Уильямсом (англ. Cliff Williams) в 1977 году. 19 февраля 1980 года от сильного алкогольного опьянения умер вокалист и автор песен коллектива Бон Скотт. Группа имела все шансы распасться, однако замена Скотту была найдена в лице бывшего вокалиста группы Geordie Брайана Джонсона. В этом же году группа записала свой самый продаваемый альбом, Back in Black.
			</p>
			<p>Коллектив продал свыше 200 миллионов копий альбомов по всему миру, включая 72 миллиона в США. Самый успешный альбом, Back in Black, был продан в количестве более 22 миллионов в США и более 42 миллионов за их пределами. В целом AC/DC является самой успешной и известной рок-группой из Австралии и одной из популярнейших в мире.
			</p>

		</div>
	<hr>

	<H4><a href="https://www.youtube.com/watch?v=pAgnJDJN4VA&index=3&list=PLSKiP8AuSHih2m6mzB69N_tQXA6R1ExNC" class="name">Back In Black</a></H4>

		<div class="p">
<p>
<H5>Оригинал</H5>
<pre>
Back in black!
I hit the sack.
I've been too long, I'm glad to be back.
I bet you know I'm...
<hr>
Yes, I'm let loose
From the noose -
That's kept me hanging about
I've been looking at the sky,
<hr>
'Cause it's gettin' me high.
Forget the hearse 'cause I never die -
I got nine lives.
Cat's eyes!
<hr>
Abusin' every one of them 
And running wild.
'Cause I'm back
Yes, I'm back
Yes, I'm back in black
<hr>
Back in the back
Of a Cadillac.
Number one with a bullet, I'm a power pack.
Yes, I'm in a bang
<hr>
With a gang.
They've got to catch me 
If they want me to hang,
Cause I'm back on the track.
And I'm beatin' the flack,
<hr>
Nobody's gonna get me on another rap.
So look at me now,
I'm just makin' my play.
Don't try to push your luck, just get out of my way.
<hr>
'Cause I'm back
Yes, I'm back
Yes, I'm back in black.
<hr>
</pre>
</p>
		</div>

		<div class="per">
<p>
<H5>Перевод</H5>
<pre>
Я вернулся во тьму!
Отправился на боковую.
Меня долго не было, и я рад вернуться.
Готов спорить, ты знаешь это.
<hr>
Да, меня отпустили
Из ловушки.
Это удержало меня от нерешительности.
Я смотрел в небо,
<hr>
И это возносило меня.
Забудь о гробах, ведь я никогда не умру –
У меня девять жизней и
Кошачьи глаза.
<hr>
Избавляюсь от ненужного 
И бегу навстречу свободе.
Ведь я вернулся.
Да, я вернулся.
Да, я вернулся во тьму.
<hr>
Вернулся во тьму
Из Кадиллака.
Я – пуля номер один, я – батарейка.
Да, я в эпицентре взрыва
<hr>
Со своей бандой.
Им придется поймать меня, 
Если они хотят меня остановить,
Ведь я снова на своем пути.
Я побеждаю давление,
<hr>
Никто не пришьёт мне чужих преступлений.
Так что взгляни на меня –
Я всего лишь веду свою игру.
Не заигрывай с удачей, свали с моего пути.
<hr>
Ведь я вернулся.
Да, я вернулся.
Да, я вернулся во тьму.
<hr>
</pre>
</p>
		</div>

	<a href="/" class="back"><img src="{% static 'fonts/1f519-strelka-nazad.png' %}" width="100" height="100"></a>
{% endblock %}