{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
	Three Days Grace
{% endblock %}

{% block body %}
	<H1>Three Days Grace</H1>
	<hr>
		<div class="t">
			<p>
			<img src="{% static 'css/three-days-grace-logo.jpg' %}" width="200" height="200" align="right">
			<em><b><a href="https://ru.wikipedia.org/wiki/Three_Days_Grace">Three Days Grace</a></b></em> — канадская рок-группа, исполняющая альтернативный метал и постгранж. Была сформирована под названием Groundswell в Норвуде, Онтарио, Канада в 1992 году. В 1997 году коллектив в составе гитариста и вокалиста Адама Гонтье, барабанщика Нила Сандерсона и басиста Брэда Уолста сменил название на нынешнее.
			</p>
			<p>
			Сам Адам Гонтье объяснял значение имени Three Days Grace так:
			«Это вид стендов для безотлагательности. Время, чтобы оплатить долг. Если бы у Вас было три дня, чтобы изменить что-то в Вашей жизни, или, хотели бы что то изменить в Вашей жизни, смогли бы вы сделать это за три дня?»
			</p>
			<p>
			С момента заключения контракта с Jive Records, Three Days Grace выпустила альбомы Three Days Grace в 2003 и One-X в 2006, которые получили платиновый и двойной платиновый статусы соответственно. В 2007, группа была признана лучшим рок-коллективом по версии журнала Billboard, помимо этого заняв 4 место в списке самых ротируемых групп в Канаде. Третий альбом группы, Life Starts Now, увидел свет 22 сентября 2009 года. На данный момент группа записала пять студийных альбомов; последним на данный момент является Human, дата выхода которого — 31 марта 2015 года.
			</p>
			<p>
			21 декабря 2012 года фронтмен Адам Гонтье покинул группу, с тех пор группа и Адам продолжают свою деятельность отдельно друг от друга. На время проведения тура в поддержку последнего альбома, место Адама занял сессионный музыкант Мэтт Уолст, который 28 марта 2014 года стал официальным участником. В 2016 году группа посетила города России, Украины и Белоруссии. В 2015 году Адам основал группу Saint Asonia.
			</p>
		</div>
	<hr>

	<H4><a href="https://www.youtube.com/watch?v=-U98qkjbYek&list=PLqGNV0O8mvng2zmC-YwtiQCXWz2-zFkWh&index=13" class="name">Painkiller</a></H4>

		<div class="p12">
<p>
<H5>Оригинал</H5>
<pre>
You know you need a fix when you fall down
You know you need to find a way
To get you through another day
Let me be the one to numb you out
<hr>
Let me be the one to hold you
Never gonna let you get away
The shoulder you cry on
The dose that you die on
<hr>
I can be your painkiller, killer, killer
You'll love me till it's all over-over-over
Cause I'm the shoulder you cry on
The dose that you die on
<hr>
I can be your painkiller, killer, killer
I know what you want so desperately
You know I'll give you one for free
Forever you're coming back to me
<hr>
Now I'm going to give you what you need
Cause I know what you fiend on
And what you lean on, what you lean on
The shoulder you cry on
<hr>
The dose that you die on
I can be your painkiller, killer, killer
You'll love me till it's all over-over-over
Cause I'm the shoulder you cry on
<hr>
The dose that you die on
I can be your painkiller, killer, killer
Did you find another cure?
I can be your painkiller, killer, killer
<hr>
You'll love me till it's all over-over-over
Cause I'm the shoulder you cry on
The dose that you die on
I can be your painkiller, killer, killer
<hr>
</pre>
</p>
		</div>

		<div class="per12">
<p>
<H5>Перевод</H5>
<pre>
Ты знаешь, что тебе нужна доза, когда ты срываешься,
Знаешь, что тебе нужно найти способ
Прожить очередной день.
Позволь мне быть тем, кто притупит твои чувства,
<hr>
Тем, кто обнимет тебя,
Я никогда не дам тебе уйти
Я плечо, на котором ты плачешь,
Доза, что убивает тебя
<hr>
Я могу утолить твою боль,
Ты будешь любить меня, пока все не будет кончено,
Ведь я подставляю тебе плечо поплакать,
Я доза, что убивает тебя,
<hr>
Я могу утолить твою боль, боль, боль
Я знаю, чего ты так отчаянно хочешь,
И дам сейчас тебе одну [дозу] просто так,
Ты всегда возвращаешься ко мне,
<hr>
Я дам тебе то, что тебе нужно,
Ведь я знаю, к чему ты пристрастился
И на чем держишься
Я плечо, на котором ты плачешь,
<hr>
Доза, что убивает тебя
Я могу утолить твою боль,
Ты будешь любить меня до самого конца,
Ведь я подставляю тебе плечо поплакать,
<hr>
Я доза, что убивает тебя,
Я могу утолить твою боль, боль, боль
Ты нашел еще какое-то средство?
Я могу утолить твою боль,
<hr>
Ты будешь любить меня до самого конца,
Ведь я подставляю тебе плечо поплакать,
Я доза, что убивает тебя,
Я могу утолить твою боль, боль, боль
<hr>
</pre>
</p>
		</div>

	<a href="/" class="back"><img src="{% static 'fonts/1f519-strelka-nazad.png' %}" width="100" height="100"></a>
{% endblock %}