{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
	Three Days Grace
{% endblock %}

{% block body %}
	<H1>Three Days Grace</H1>
	<hr>
		<div class="t">
			<p>
			<img src="{% static 'css/three-days-grace-logo.jpg' %}" width="200" height="200" align="right">
			<em><b><a href="https://ru.wikipedia.org/wiki/Three_Days_Grace">Three Days Grace</a></b></em> — канадская рок-группа, исполняющая альтернативный метал и постгранж. Была сформирована под названием Groundswell в Норвуде, Онтарио, Канада в 1992 году. В 1997 году коллектив в составе гитариста и вокалиста Адама Гонтье, барабанщика Нила Сандерсона и басиста Брэда Уолста сменил название на нынешнее.
			</p>
			<p>
			Сам Адам Гонтье объяснял значение имени Three Days Grace так:
			«Это вид стендов для безотлагательности. Время, чтобы оплатить долг. Если бы у Вас было три дня, чтобы изменить что-то в Вашей жизни, или, хотели бы что то изменить в Вашей жизни, смогли бы вы сделать это за три дня?»
			</p>
			<p>
			С момента заключения контракта с Jive Records, Three Days Grace выпустила альбомы Three Days Grace в 2003 и One-X в 2006, которые получили платиновый и двойной платиновый статусы соответственно. В 2007, группа была признана лучшим рок-коллективом по версии журнала Billboard, помимо этого заняв 4 место в списке самых ротируемых групп в Канаде. Третий альбом группы, Life Starts Now, увидел свет 22 сентября 2009 года. На данный момент группа записала пять студийных альбомов; последним на данный момент является Human, дата выхода которого — 31 марта 2015 года.
			</p>
			<p>
			21 декабря 2012 года фронтмен Адам Гонтье покинул группу, с тех пор группа и Адам продолжают свою деятельность отдельно друг от друга. На время проведения тура в поддержку последнего альбома, место Адама занял сессионный музыкант Мэтт Уолст, который 28 марта 2014 года стал официальным участником. В 2016 году группа посетила города России, Украины и Белоруссии. В 2015 году Адам основал группу Saint Asonia.
			</p>
		</div>
	<hr>

	<H4><a href="https://www.youtube.com/watch?v=8Zx6RXGNISk&index=8&list=PLqGNV0O8mvng2zmC-YwtiQCXWz2-zFkWh" class="name">I Am Machine</a></H4>

		<div class="p">
<p>
<H5>Оригинал</H5>
<pre>
Here's to being human
All the pain and suffering
There's beauty in the bleeding
At least you feel something
<hr>
I wish I knew what it was like
To care enough to carry on
I wish I knew what it was like
To find a place where I belong, but
<hr>
[Chorus:]
I am machine
I never sleep
I keep my eyes wide open
I am machine
<hr>
A part of me
Wishes I could just feel something
I am machine
I never sleep
<hr>
Until I fix what's broken
I am machine
A part of me
Wishes I could just feel something
<hr>
Here's to being human
Taking it for granted
The highs and lows of living
To getting second chances
<hr>
I wish I knew what it was like
To care about what's right or wrong
I wish someone could help me find
Find a place where I belong, but
<hr>
[Chorus:]
I am machine
I never sleep
I keep my eyes wide open
I am machine
<hr>
A part of me
Wishes I could just feel something
I am machine
I never sleep
<hr>
Until I fix what's broken
I am machine
A part of me
Wishes I could just feel something
<hr>
It wasn't supposed to be this way
We were meant to feel the pain
I don't like what I am becoming
Wish I could just feel something
<hr>
[Chorus:]
I am machine
I never sleep
I keep my eyes wide open
I am machine
<hr>
A part of me
Wishes I could just feel something
I am machine
I never sleep
<hr>
Until I fix what's broken
I am machine
A part of me
Wishes I could just feel something
<hr>
</pre>
</p>
		</div>

		<div class="per">
<p>
<H5>Перевод</H5>
<pre>
Вся боль и страдания -
Вот что делает тебя человеком.
В истекании кровью есть красота,
По крайней мере, ты что-то чувствуешь.
<hr>
Хотел бы я знать, на что это похоже -
Иметь волю к жизни.
Хотел бы я знать, на что это похоже -
Найти место, где я свой, но...
<hr>
[Припев:]
Я - машина,
Я никогда не сплю,
Мои глаза всегда широко открыты.
Я - машина,
<hr>
Часть меня
Хочет, чтобы я просто мог хоть что-то чувствовать.
Я - машина
Мне ни за что не уснуть,
<hr>
Пока не исправлю то, что сломано.
Я - машина,
Часть меня
Хочет, чтобы я просто мог хоть что-то чувствовать.
<hr>
Принимать всё как есть -
Вот что делает тебя человеком.
Взлёты и падения на жизненном пути,
Чтобы получать вторые шансы.
<hr>
Хотел бы я знать, на что это похоже -
Беспокоиться о том, что правильно, а что нет.
Я хочу, чтобы кто-нибудь мог помочь мне отыскать...
Отыскать то место, где я свой, но...
<hr>
[Припев:]
Я - машина,
Я никогда не сплю,
Мои глаза всегда широко открыты.
Я - машина,
<hr>
Часть меня
Хочет, чтобы я просто мог хоть что-то чувствовать.
Я - машина
Мне ни за что не уснуть,
<hr>
Пока не исправлю то, что сломано.
Я - машина,
Часть меня
Хочет, чтобы я просто мог хоть что-то чувствовать.
<hr>
Так не должно было происходить,
Нам предначертано было чувствовать боль.
Мне не по душе то, кем я становлюсь,
Хотел бы я хоть что-то чувствовать.
<hr>
[Припев:]
Я - машина,
Я никогда не сплю,
Мои глаза всегда широко открыты.
Я - машина,
<hr>
Часть меня
Хочет, чтобы я просто мог хоть что-то чувствовать.
Я - машина
Мне ни за что не уснуть,
<hr>
Пока не исправлю то, что сломано.
Я - машина,
Часть меня
Хочет, чтобы я просто мог хоть что-то чувствовать.
<hr>
</pre>
</p>
		</div>

	<a href="/" class="back"><img src="{% static 'fonts/1f519-strelka-nazad.png' %}" width="100" height="100"></a>
{% endblock %}