{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
	Three Days Grace
{% endblock %}

{% block body %}
	<H1>Three Days Grace</H1>
	<hr>
		<div class="t">
			<p>
			<img src="{% static 'css/three-days-grace-logo.jpg' %}" width="200" height="200" align="right">
			<em><b><a href="https://ru.wikipedia.org/wiki/Three_Days_Grace">Three Days Grace</a></b></em> — канадская рок-группа, исполняющая альтернативный метал и постгранж. Была сформирована под названием Groundswell в Норвуде, Онтарио, Канада в 1992 году. В 1997 году коллектив в составе гитариста и вокалиста Адама Гонтье, барабанщика Нила Сандерсона и басиста Брэда Уолста сменил название на нынешнее.
			</p>
			<p>
			Сам Адам Гонтье объяснял значение имени Three Days Grace так:
			«Это вид стендов для безотлагательности. Время, чтобы оплатить долг. Если бы у Вас было три дня, чтобы изменить что-то в Вашей жизни, или, хотели бы что то изменить в Вашей жизни, смогли бы вы сделать это за три дня?»
			</p>
			<p>
			С момента заключения контракта с Jive Records, Three Days Grace выпустила альбомы Three Days Grace в 2003 и One-X в 2006, которые получили платиновый и двойной платиновый статусы соответственно. В 2007, группа была признана лучшим рок-коллективом по версии журнала Billboard, помимо этого заняв 4 место в списке самых ротируемых групп в Канаде. Третий альбом группы, Life Starts Now, увидел свет 22 сентября 2009 года. На данный момент группа записала пять студийных альбомов; последним на данный момент является Human, дата выхода которого — 31 марта 2015 года.
			</p>
			<p>
			21 декабря 2012 года фронтмен Адам Гонтье покинул группу, с тех пор группа и Адам продолжают свою деятельность отдельно друг от друга. На время проведения тура в поддержку последнего альбома, место Адама занял сессионный музыкант Мэтт Уолст, который 28 марта 2014 года стал официальным участником. В 2016 году группа посетила города России, Украины и Белоруссии. В 2015 году Адам основал группу Saint Asonia.
			</p>
		</div>
	<hr>

	<H4><a href="https://www.youtube.com/watch?v=50WH8OpSTS4&index=11&list=PLqGNV0O8mvng2zmC-YwtiQCXWz2-zFkWh" class="name">Human Race</a></H4>

		<div class="p11">
<p>
<H5>Оригинал</H5>
<pre>
[2x:]
I don't belong here
Not in this atmosphere
Goodbye, goodbye, goodbye
Started with a kick and a punch
<hr>
A claw to the face
And I was in the race
I was in the race, yeah
You know it's hard sometimes
<hr>
Being humankind
Keeping up with the pace
Keeping up with the pace, yeah
I'm sick of running
<hr>
Sick of running
Sick of running
The human race
The human race
<hr>
If it's an eye for an eye
Then we all go blind
Is it hard to see
Is it hard to see, yeah
<hr>
So far behind
No finish line
It can happen to you
It can happen to me, yeah
<hr>
[2x:]
I don't belong here
Not in this atmosphere
Goodbye, goodbye, goodbye
Started with a kick and a punch
<hr>
A claw to the face
And I was in the race
I was in the race, yeah
The human race
<hr>
I'm sick of running
Sick of running
Sick of running
The human race
The human race
<hr>
I don't belong here
Not in this atmosphere
Goodbye, goodbye, goodbye
I don't belong here
<hr>
Not in this atmosphere
I don't belong here
Not in this atmosphere
Goodbye, goodbye, goodbye
<hr>
</pre>
</p>
		</div>

		<div class="per11">
<p>
<H5>Перевод</H5>
<pre>
[2x:]
Мне не место здесь,
Не в этом мире.
Прощайте, прощайте, прощайте!
Всё началось с пинка и удара,
<hr>
С кулака в лицо,
И я вступил в гонку,
Да, я вступил в гонку.
Ты знаешь, что иногда тяжело
<hr>
Быть человеком,
Выдерживая темп,
Да, выдерживая темп.
Я устал бежать,
<hr>
Устал бежать,
Устал бежать
В человеческой гонке,
В человеческой гонке.
<hr>
Если действовать по правилу "око за око",
То мы все ослепнем.
Разве это сложно понять?
Разве это сложно понять?
<hr>
Далеко позади
Не видно финишной черты.
Такое может приключиться с тобой,
Такое может приключиться со мной, да.
<hr>
[2x:]
Мне не место здесь,
Не в этом мире.
Прощайте, прощайте, прощайте!
Всё началось с пинка и удара,
<hr>
С кулака в лицо,
И я вступил в гонку,
Да, я вступил в гонку
Человеческой расы!
<hr>
Я устал бежать,
Устал бежать,
Устал бежать
В человеческой гонке,
В человеческой гонке.
<hr>
Мне не место здесь,
Не в этом мире.
Прощайте, прощайте, прощайте!
Мне не место здесь,
<hr>
Не в этом мире.
Мне не место здесь,
Не в этом мире.
Прощайте, прощайте, прощайте!
<hr>
</pre>
</p>
		</div>

	<a href="/" class="back"><img src="{% static 'fonts/1f519-strelka-nazad.png' %}" width="100" height="100"></a>
{% endblock %}